.footer-container {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  font-size: 12px;
  color: rgb(80, 77, 77);
}

.like-icon,
.job-number {
  width: 100%;
}

.like-icon {
  text-align: right;
}

.heart {
  width: 22px;
}
