@import "../../variables.scss";

.card-wrap {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2em 0;
  height: 100%;
  background-color: white;
  cursor: pointer;
  height: 100%;
}

.img-container {
  height: 180px;
  background-image: url("../../images/wavely-about-page.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

// .company-img {
//   width: 100%;
// }

.content-wrap {
  padding: 3em 1.5em 1.5em 1.5em;
  font-family: $fontFamily;
}
