@import "../../variables.scss";

.card-wrap {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 2em 0;
  height: 100%;
  background-color: white;
  cursor: pointer;
  height: 100%;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.card-wrap:hover {
  top: -10px;
}

.card-wrap:hover .img-container {
  opacity: 0.9;
}

.img-container {
  height: 180px;
  width: 100%;
  background-image: url("../../images/banner-background.png");
  background-position: 50% 50%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

// .company-img {
//   width: 100%;
// }

.content-wrap {
  padding: 0 1.5em 1em 1.5em;
  font-family: $fontFamily;
}

@media only screen and (min-width: 580px) {
  .card-wrap {
    flex: 0 1 41.8%;
    margin-left: 2em;
  }
}

@media only screen and (min-width: 950px) {
  .card-wrap {
    flex: 0 1 29.4%;
  }
}
