.react-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 191, 191);
  width: 54px;
  height: 54px;
  position: relative;
  top: -26px;
  left: 24px;
  border-radius: 3px;
  margin-bottom: -12px;
}

.react-logo {
  width: 60px;
}
