.company-info {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.industry,
.location,
.employees {
  margin-top: 3px;
  font-size: 10px;
  overflow: hidden;
  color: rgb(136, 132, 132);
}
